
.main {
    height: 100vh;
}

.main h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.main h3 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
}

.main .cta-btn {
    border: none;
    height: 5em;
    width: 15em;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 4px;
    transition: all 0.2s ease-in-out;
}

.main .cta-btn:hover {
    background-color: #000;
    color: #fff;
}